@model Lighthouse.Web.Models.Dashboard.Dashboard
<div class="row">

    <div class="span4">
        <div class="page-header">
            <h1>Current Builds</h1>
        </div>
        @{ 
            var buildingApplications = Model.Applications.Where(a => a.Builds.Any(b => b.Status.Equals("building", StringComparison.OrdinalIgnoreCase))); 
            if (buildingApplications.Any())
            {
                foreach (var application in buildingApplications)
                {
                    var averageBuildTime = application.AverageBuildTime();
                    var percentComplete = application.Builds.First().PercentComplete(averageBuildTime);
                    <h3>@application.Name</h3>
                    <div class="progress progress-striped active">
                      <div class="bar" style="width: @percentComplete%;"></div>
                    </div>
                }
            }
            else
            {
                <h3>none</h3>
            }
        }
    </div>

    <div class="span8">
        <div class="page-header">
            <h1>Applications</h1>
        </div>
        <div class="row">
            @foreach (var application in Model.Applications)
            {
                <div class="span4">
                    <h3>@application.Name
                    @if (application.Builds != null && application.Builds.Any())
                    {
                        <small title="@application.Builds.First().CommitId">@application.Builds.First().CommitId.SafeSubString(0, 7)...</small>
                    }
                    </h3>
                    <p>
                        <div class="btn-group">
                            <a class="btn btn-mini @Html.GetButtonClass(application.GetCurrentStatus()) dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-white @Html.GetIconClass(application.GetCurrentStatus())"></i> @application.GetCurrentStatus()
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@application.Url" target="_blank"><i class="icon-share-alt"></i> View Application on AppHarbor</a></li>
                                @if (application.Builds != null && application.Builds.Any())
                                {
                                    <li class="divider"></li>
                                    <li><a href="@application.Builds.First().Url" target="_blank"><i class="icon-share-alt"></i> View Build on AppHarbor</a></li>
                                    <li><a href="@application.Builds.First().TestsUrl" target="_blank"><i class="icon-list-alt"></i> View Tests on AppHarbor</a></li>
                                    <li><a href="@application.Builds.First().DownloadUrl" target="_blank"><i class="icon-download"></i> Download from AppHarbor</a></li>
                                }
                            </ul>
                        </div>
                        <br />
                        @if (application.Builds != null && application.Builds.Any())
                        {
                            <blockquote>@application.Builds.First().CommitMessage</blockquote>
                        }
                    </p>
                </div>
            }
        </div>
    </div>

</div>
